@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  #102f44;
  color: #fff;
  font-family: system-ui;
  height: 100dvh;
  padding: 0 15px;
  font-size: 22px;
  display: flex;
  flex-direction: column;     
  justify-content: center;   
  align-items: center;    
}

button {
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  font-Family: 'Poppins';
  cursor: pointer;
  box-sizing: border-box;
  background-color: #ff9033;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(255, 144, 51, 0.35);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #ff7d0f;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(255, 144, 51, 0.45);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(255, 144, 51, 0.3);
}

.containerTemporizadorApp {
  width: 100%;
  max-width: 800px;
  margin: 100px auto 0 auto;
}